<a href="https://colab.research.google.com/github/borderbollie/1111/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

datestr = '20230717'

# 下載股價
r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALL')

# 整理資料，變成表格
df = pd.read_csv(StringIO(r.text.replace("=", "")),
            header=["證券代號" in l for l in r.text.split("\n")].index(True)-1)

# 整理一些字串：
df = df.apply(lambda s: pd.to_numeric(s.astype(str).str.replace(",", "").replace("+", "1").replace("-", "-1"), errors='coerce'))

# 顯示出來
df.head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,50.0,NaN,15718027,14370,2074554911,132.00,132.20,131.75,132.00,-1.0,0.25,132.00,284,132.05,29,0.0,NaN
1,51.0,NaN,254466,339,18281782,71.45,72.30,71.45,71.95,1.0,0.50,71.90,1,71.95,2,0.0,NaN
2,52.0,NaN,400724,608,48581008,121.20,121.55,120.80,121.30,1.0,0.10,121.30,17,121.40,3,0.0,NaN
3,53.0,NaN,20493,33,1436385,69.90,70.35,69.90,70.20,1.0,0.50,69.90,1,70.20,1,0.0,NaN
4,55.0,NaN,548231,576,12973390,23.45,23.81,23.45,23.80,1.0,0.35,23.79,6,23.80,9,0.0,NaN